/* ---------------------------------------------------------------
Variables
--------------------------------------------------------------- */

// Colors

$primary: #343a40;
$secondary: #dc3c45;
$tertiary: #0095be;
$text: #808080;
$pure: #fff;
$light: #f3ebeb;
