/* ---------------------------------------------------------------
Header
--------------------------------------------------------------- */

.header {
  padding: 1rem 0;
  position: absolute;
  width: 100%;
}
.brand {
  h2 {
    font-size: 1.5rem;
    color: $dark;
    font-weight: 700;
    text-shadow: 1px 1px $pure;
  }
}
.nav-menu {
  li {
    margin-left: 0.8rem;
    font-size: 0.9rem;
    a {
      color: $text;
      font-weight: 500;
      font-size: 0.9rem;
      padding: 1rem;
      border-radius: 5px;
      text-transform: uppercase;
      &:hover {
        color: $pure;
        background: $secondary;
      }
    }
  }
}

#toggle,
.bars {
  display: none;
}

// @media screen and (max-width: 1024px) {
//   //   .sub-menu {
//   //     width: 7rem;
//   //     left: 40%;
//   //   }
// }

/* ---------------------------------------------------------------
Media Queries for header
--------------------------------------------------------------- */

@media screen and (max-width: 768px) {
  .nav_bar {
    position: fixed;
    height: 5rem;
    background-color: $pure;
    box-shadow: 0 5px 4px rgba($color: #000000, $alpha: 0.2);
    top: 0;
    z-index: 100;
  }
  .nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 13rem;
    z-index: 9;
  }
  .nav-menu li a {
    font-size: 1.2rem;
    color: $pure;
  }
  .nav-menu li a:hover {
    color: $secondary;
  }
  .brand,
  .bars {
    position: fixed;
    top: 1rem;
    z-index: 99;
  }
  .brand {
    left: 2rem;
    top: 1.5rem;
  }
  .bars {
    right: 2rem;
    color: $secondary;
  }
  .nav-menu li {
    margin: 1rem 0;
  }
  #toggle:checked ~ .nav {
    display: inline-block;
  }
  .bars {
    font-size: 2rem;
    color: $secondary;
    display: inline-block;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /* GENeRAL */

  .hero {
    margin-top: 5.2rem;
    grid-template-columns: 1fr;
  }
  .skills-container {
    grid-template-columns: 1fr;
  }
  .works-container {
    grid-template-columns: 1fr;
  }
  .experience-education {
    grid-template-columns: 1fr;
  }
  .contact-container {
    grid-template-columns: 1fr;
  }
  .map-container {
    iframe {
      width: 21rem;
      height: 25rem;
    }
  }
}
