/* ---------------------------------------------------------------
Modular Classes
--------------------------------------------------------------- */
.flex {
  display: flex;
}

.flex-48 {
  flex: 0 1 48%;
}

.flex-30 {
  flex: 0 1 31%;
}

.flex-23 {
  flex: 0 1 23%;
}

.flex-70 {
  flex: 0 1 70%;
}

.flex-23 {
  flex: 0 1 23%;
}

.justify-between {
  justify-content: space-between;
}

.wrap {
  flex-wrap: wrap;
}

.center {
  text-align: center;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.container {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 2rem;
  width: 100%;
}

.padding {
  padding: 4rem 0;
}

#active {
  color: $secondary;
  &:hover {
    color: #fff;
  }
}

.btn {
  padding: 0.5rem 1.3rem;
  border-radius: 25px;
  display: inline-block;
  &-primary {
    color: $dark;
    border: 2px solid $dark;
  }
  &-secondary {
    background-color: $pure;
    color: $primary;
    padding: 0.5rem 3rem;
  }

  &-card {
    color: $primary;
  }
  &-active {
    color: $pure;
    background-color: $primary;
  }
}

//   @media screen and (max-width: $breakpoint-mobile) {
//     html {
//       font-size: 14px;
//     }

//     .flex-100 {
//       flex: 0 1 100%;
//     }

//     .flex-25 {
//       flex: 0 1 25%;
//     }

//     .sm-center {
//       justify-content: center;
//     }

//     .display {
//       display: none;
//     }
//   }
