/* ---------------------------------------------------------------
Variables
--------------------------------------------------------------- */

// Colors

$primary: #fc683e;
$secondary: #ecaf4e;
$tertiary: #f5e3d7;
$text: #808080;
$pure: #fff;
$dark: #000000;
$light: #f5ecec;
