/* ---------------------------------------------------------------
Import partials
--------------------------------------------------------------- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ---------------------------------------------------------------
Variables
--------------------------------------------------------------- */
/* ---------------------------------------------------------------
Modular Classes
--------------------------------------------------------------- */
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 2rem;
  width: 100%;
}

.padding {
  padding: 5rem 0;
}

#active {
  color: #fc683e;
}

#active:hover {
  color: #fff;
}

.btn {
  padding: 0.5rem 1.3rem;
  border-radius: 25px;
  display: inline-block;
}

.btn-primary {
  color: #000000;
  border: 2px solid #000000;
}

.btn-secondary {
  background-color: #fff;
  color: #fc683e;
  padding: 0.7rem 4rem;
  font-size: 1.3rem;
}

/* ---------------------------------------------------------------
General
--------------------------------------------------------------- */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

body {
  line-height: 1.5;
  font-size: 1rem;
  font-family: "Archivo", sans-serif;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 100;
}

h2 {
  font-size: 2rem;
  line-height: 1.3;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.3;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.5rem;
}

p {
  font-size: 1rem;
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 14px;
  }
  .container {
    max-width: 992px;
  }
}

/* ---------------------------------------------------------------
MEDIA QUERY FOR  MEDIUM SCREENS
--------------------------------------------------------------- */
@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
  .container {
    max-width: 768px;
  }
}

/* ---------------------------------------------------------------
Header
--------------------------------------------------------------- */
.header {
  padding: 1rem 0;
  position: absolute;
  width: 100%;
}

.brand h2 {
  font-size: 1.5rem;
  color: #000000;
  font-weight: 700;
  text-shadow: 1px 1px #fff;
}

.nav-menu li {
  margin-left: 0.8rem;
  font-size: 0.9rem;
}

.nav-menu li a {
  color: #808080;
  font-weight: 500;
  font-size: 0.9rem;
  padding: 1rem;
  border-radius: 5px;
  text-transform: uppercase;
}

.nav-menu li a:hover {
  color: #fff;
  background: #ecaf4e;
}

#toggle,
.bars {
  display: none;
}

/* ---------------------------------------------------------------
Hero Section
--------------------------------------------------------------- */
.hero {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 100vh;
      grid-template-rows: 100vh;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.hero_img img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero_content {
  background: #f5e3d7;
  place-content: center;
  padding: 0 3rem;
  display: -ms-grid;
  display: grid;
}

.hero_content p {
  color: #808080;
  padding: 1rem 0;
}

.hero_content h5 {
  color: #808080;
  padding-bottom: 1rem;
}

.hero_content strong {
  font-weight: 300;
}

.hero_content .btn {
  margin-top: 1rem;
  justify-self: flex-start;
}

/* ---------------------------------------------------------------
SKILLS SECTION
--------------------------------------------------------------- */
.skill {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr (1fr)[2];
      grid-template-columns: 2fr repeat(2, 1fr);
}

.skill_content {
  padding: 1rem 3rem 2rem 3rem;
}

.skill_content h2 {
  padding-bottom: 1rem;
}

.skill_content h5 {
  color: #fc683e;
  padding-bottom: 1rem;
}

.skill_content p {
  padding-bottom: 0.8rem;
  color: #808080;
}

.skill_img img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.skill .my-skill {
  background: #ecaf4e;
  padding: 1rem 2rem;
}

.skill .my-skill strong {
  font-size: 0.9rem;
}

.skill .my-skill h2 {
  color: #fff;
  padding-top: 1rem;
}

.skill .my-skill p {
  color: #fff;
  font-size: 0.9rem;
  padding: 0.4rem 0;
}

.skill .my-skill meter {
  width: 100%;
  -moz-appearance: none;
  height: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.skill .my-skill meter::-webkit-meter-bar {
  -webkit-box-shadow: 0 5px 5px -5px #999 inset;
          box-shadow: 0 5px 5px -5px #999 inset;
  background: #fff;
  background-size: 100% 100%;
}

.skill .my-skill meter::-webkit-meter-optimum-value {
  -webkit-box-shadow: 0 5px 5px -5px #999 inset;
          box-shadow: 0 5px 5px -5px #999 inset;
  background: #1a1710;
  background-size: 100% 100%;
}

.skill .my-skill .skills-percent {
  margin-bottom: 1rem;
}

/* ---------------------------------------------------------------
Feature Section
--------------------------------------------------------------- */
.feature {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.feature img {
  height: 4rem;
  width: 4rem;
}

.feature_col {
  text-align: center;
  padding: 3rem;
}

.feature_col h3 {
  color: #f5ecec;
  padding: 0.5rem 0;
}

.feature_col p {
  color: #f5ecec;
}

.feature_col1 {
  background-color: #ecaf4e;
}

.feature_col2 {
  background-color: #fc683e;
}

.feature_col3 {
  background-color: #000000;
}

.feature_col4 {
  background-color: #fff;
}

.feature_col4 h3 {
  color: #e0d4d4;
}

.feature_col4 p {
  color: #e0d4d4;
}

/* ---------------------------------------------------------------
Experience Section
--------------------------------------------------------------- */
.experience {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.experience img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.experience_content {
  padding: 5rem 3rem 2rem 3rem;
  background-color: #fc683e;
}

.experience_content h2 {
  color: #fff;
}

.experience_content h5 {
  color: #f5ecec;
  padding: 0.6rem 0 3rem 0;
}

.experience_content img {
  width: 4rem;
  height: 4rem;
  margin-right: 2rem;
}

.experience .details {
  padding-bottom: 2rem;
}

.experience .details h3 {
  color: #f5ecec;
  padding-bottom: 0.4rem;
}

.experience .details span {
  font-size: 1rem;
  color: #000000;
  font-weight: 500;
}

.experience .details p {
  color: #f5ecec;
}

/* ---------------------------------------------------------------
Education Section
--------------------------------------------------------------- */
.education {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.education img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.education_text {
  padding-bottom: 2rem;
}

.education_text h3 {
  color: #f5ecec;
  padding-bottom: 0.4rem;
}

.education_text span {
  font-size: 1rem;
  color: #000000;
  font-weight: 500;
}

.education_text p {
  color: #f5ecec;
}

.education_content {
  padding: 5rem 3rem 2rem 3rem;
  background-color: #ecaf4e;
}

.education_content h2 {
  color: #fff;
}

.education_content h5 {
  color: #f5ecec;
  padding: 0.6rem 0 3rem 0;
}

.education_content img {
  width: 4rem;
  height: 4rem;
  margin-right: 2rem;
}

/* ---------------------------------------------------------------
Contact Section
--------------------------------------------------------------- */
.contact {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr (1fr)[2];
      grid-template-columns: 2fr repeat(2, 1fr);
}

.contact_content {
  padding: 3rem;
  background-color: #fc683e;
}

.contact_content h2 {
  color: #f5ecec;
}

.contact_content p {
  color: #f5ecec;
  padding: 1rem 0;
}

.contact .form_control {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: none;
  outline: none;
  background-color: #fc683e;
  border-bottom: 1px solid #f5ecec;
  font-size: 1.2rem;
}

.contact input::-webkit-input-placeholder {
  color: #f5ecec;
}

.contact input:-ms-input-placeholder {
  color: #f5ecec;
}

.contact input::-ms-input-placeholder {
  color: #f5ecec;
}

.contact input::placeholder {
  color: #f5ecec;
}

.contact textarea::-webkit-input-placeholder {
  color: #f5ecec;
}

.contact textarea:-ms-input-placeholder {
  color: #f5ecec;
}

.contact textarea::-ms-input-placeholder {
  color: #f5ecec;
}

.contact textarea::placeholder {
  color: #f5ecec;
}

.contact .btn {
  margin-top: 2rem;
}

.contact_img img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contact_add {
  padding: 3rem;
  background-color: aqua;
}

.contact_add h2 {
  color: #fff;
}

.contact_add p {
  color: #f5ecec;
  padding: 0.8rem 0;
  font-size: 1.2rem;
}

.contact_add li {
  padding: 0.9rem 0;
  font-size: 1.3rem;
  color: #f5ecec;
}

.contact_add i {
  color: #fff;
  padding-right: 0.5rem;
}

.contact_add a {
  color: #f5ecec;
}

/* ---------------------------------------------------------------
Map Section
--------------------------------------------------------------- */
.map-section {
  padding: 5rem;
  background-color: #fc683e;
}

.map-section .map {
  max-width: 70rem;
  margin: 0 auto;
  padding: 0 3rem;
}

.map-section iframe {
  width: 100%;
  height: 30rem;
  border-radius: 7px;
}

/* ---------------------------------------------------------------
Footer
--------------------------------------------------------------- */
.footer small {
  color: #808080;
  padding-bottom: 3rem;
}

.footer small span {
  color: #fc683e;
  font-weight: 700;
  padding-left: 0.4rem;
}

.footer li {
  margin-right: 2.5rem;
}

.footer li a {
  color: #808080;
  font-size: 1.3rem;
}

/* ---------------------------------------------------------------
Media Queries for header
--------------------------------------------------------------- */
@media screen and (max-width: 768px) {
  .nav_bar {
    position: fixed;
    height: 5rem;
    background-color: #fff;
    -webkit-box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2);
            box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2);
    top: 0;
    z-index: 100;
  }
  .nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 13rem;
    z-index: 9;
  }
  .nav-menu li a {
    font-size: 1.2rem;
    color: #fff;
  }
  .nav-menu li a:hover {
    color: #ecaf4e;
  }
  .brand,
  .bars {
    position: fixed;
    top: 1rem;
    z-index: 99;
  }
  .brand {
    left: 2rem;
    top: 1.5rem;
  }
  .bars {
    right: 2rem;
    color: #ecaf4e;
  }
  .nav-menu li {
    margin: 1rem 0;
  }
  #toggle:checked ~ .nav {
    display: inline-block;
  }
  .bars {
    font-size: 2rem;
    color: #ecaf4e;
    display: inline-block;
  }
  .nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sm_center {
    display: -ms-grid;
    display: grid;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  /* ---------------------------------------------------------------
ALL SECTION
--------------------------------------------------------------- */
  .hero {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
  .hero_content {
    padding: 3rem;
  }
  .skill {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
  }
  .feature {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
  }
  .experience {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
  .education {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
  .contact {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
  }
  .contact .btn {
    width: 100%;
    text-align: center;
  }
  .map-section {
    padding: 2rem;
  }
  .map-section .map {
    max-width: 90rem;
    padding: 0;
  }
  .map-section iframe {
    height: 18rem;
  }
}
/*# sourceMappingURL=style.css.map */